$--color-primary: rgb(17,38,57);  //主题色
$background:#fff;//页面背景色

.app-main{
  position: absolute;
  top: 50px;
  overflow: auto;
  width: 100%;
  min-height: calc(100vh - 100px);
}
.app-main-no{
  overflow: auto;
  width: 100%;
  min-height: calc(100vh);
}
.app-main-noHead{
  overflow: auto;
  width: 100%;
  min-height: calc(100vh - 50px);
}
.app-main-noBar{
  position: absolute;
  top: 50px;
  overflow: auto;
  width: 100%;
  min-height: calc(100vh - 50px);
}
.van-nav-bar{
  background-color:$--color-primary;
  z-index:100;
}
.van-nav-bar__title{
  color:#fff;
}
.van-nav-bar__text{
  color:#fff;
}
.van-nav-bar .van-icon{
  color:#fff;
}
.van-tabbar-item--active{
  color:$--color-primary;
}
.van-nav-bar__left{
  background-color:$--color-primary;
}
//.van-nav-bar__left:active{
//  background-color:$--color-primary;
//}
.van-nav-bar__text:active{
  background-color:$--color-primary;
}
.van-tabs__nav--card{
  margin: 0 16px;
  margin-left: 19px;
}
.van-tabs__nav--card .van-tab{
  height: 35px;
  color: rgb(102,102,102);
  font-size: 13px;
  line-height: 35px;
  border-right: none;
  margin-right: 5px;
  background-color: #f1f1f1;
}
.van-tabs--card > .van-tabs__wrap{
  height: 35px;
}
.van-tabs__nav--card {
  height: 35px;
  border: 1px solid $background;
  background-color: $background;
}
.van-tabs__nav--card .van-tab.van-tab--active {
  color: rgb(17,38,57);
  background-color: rgb(200,218,235);
}
.vanbuttons {
  color: #1164b1;
  background-color: #fff;
  border: none;
  min-width: 60px;
  height: 30px;
  padding: 0 0px;
  font-size: 13px;
  line-height: 28px;
}
.vanbuttons:active::before{
  opacity:0;
}
.van-button--info{
  background-color: $--color-primary;
  border: 1px solid $--color-primary;
}
.van-grid-item__icon{
  font-size:1rem;
}

.van-checkbox__icon--checked .van-icon{
  background-color: #1164b1;
  border-color: #1164b1;
}
//调整组件card的默认样式起
.van-card{
  background-color: #fff;
  margin: 10px 10px 0px 10px;
}
.van-card__title{
  color:#000;
  font-size: 16px;
  line-height: 25px;
  max-height:50px;
}
.carddesc{
  color:rgb(102,102,102);
  font-size: 13px;
  line-height: 22px;
}
//调整组件card的默认样式止
.van-tab__pane{
  min-height: calc(100vh - 90px);
}
